*{
  margin: 0px;
  padding: : 0px;
}

.loader-container h1,
.loader-container h3,
.loader-container p{
  text-align: center;
  color: #EAE9E9;
  font-weight: bold;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #777777;; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

body{
  background: #272323;
}

.dc-chart .reset{
  position: absolute;
  right: 16px;
  top: 3px;
  font-weight: bold;
  color: white;
}

.dc-chart g.row text {
    fill: #000;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
}

.d3-cloud svg g text:hover{
  cursor: pointer;
}

.dashboard-container{
  padding: 20px;
  display: none;
}

.dashboard-container .panel-body{
  background: whitesmoke;
}

.dashboard-container .panel-heading{
  background: #585858;
}

.dashboard-container p{
  color: white;
  font-weight: bold;
}

.dashboard-chart{
  width: 100%;
  background: whitesmoke;
}

.number-chart{
  background: whitesmoke;  
}
.row-numbers{
  padding: 0px 10px;
}

.number-chart p {
  text-align: center;
  color: black;
  font-size: 18px;
}

.number-chart h4{
  text-align: center;
}

.row > div{
  padding-right: 5px !important;
  padding-left: 5px !important  ;
}

.panel-heading{
  padding: 1px 10px !important;
}
.panel-title{
  font-size: 13px;
}